<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body>
<div align="center">
    <h1>Appointments</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Unit</th>
            <th>Date</th>
            <th>Time</th>
            <th>Patient Name</th>
            <th>Gender</th>
            <th>Confirmed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointmentList}">
            <td th:text="${appointment.id}">ID</td>
            <td th:text="${appointment.unit.name}">Unit</td>
            <td th:text="${appointment.date}">Date</td>
            <td th:text="${appointment.time}">Time</td>
            <td th:text="${appointment.patientName}">Patient Name</td>
            <td th:text="${appointment.gender}">Gender</td>
            <td th:text="${appointment.confirmed}">Confirmed</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>