<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospitals</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div align="center">
    <h1>Hospitals</h1>
    <br/><br/>
    <div class="grid">
        <article th:each="hospital : ${hospitalList}">
            <div class="head">
                <h2 th:text="${hospital.name}"></h2>
            </div>
            <div class="content">
                <h4 th:text="${hospital.location}"></h4>
                <h4 th:text="${hospital.contact}"></h4>
                <h4 th:text="${hospital.website}"></h4>
                <h4 th:text="${hospital.email}"></h4>
            </div>
            <div class="action">
                <a th:href="@{'/view/' + ${hospital.id}}">Visit</a>
            </div>
        </article>
    </div>

    <table style="border-collapse: collapse;" border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Hospital Name</th>
            <th>Location</th>
            <th>Contact</th>
            <th>Website</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hospital : ${hospitalList}">
            <td th:text="${hospital.name}">Hospital Name</td>
            <td th:text="${hospital.location}">Location</td>
            <td th:text="${hospital.contact}">Contact</td>
            <td th:text="${hospital.website}">Website</td>
            <td th:text="${hospital.email}">Email</td>
            <td>
                <a th:href="@{'/view/' + ${hospital.id}}">Visit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>